body {
    color: white;
    background: #2432DB;
    font-family: 'Arial', 'Helvetica';
}
main {
    font-family: 'Comic Sans';
}
p {

}
p.minor {
    font-size: 14px;
}
.marquee-box {
    background: white;
    width: 20px;
    margin: 0 auto;
}
