<nav>
    <ul>
        <li><a href="/"><img src="/images/nav/home_active.gif"></a></li>
        <li><a href="/yalies"><img src="/images/nav/yalies.gif"></a></li>
        <li><a href="/news"><img src="/images/nav/news.gif"></a></li>
        <li><a href="/join"><img src="/images/nav/send_info.gif"></a></li>
        <li><a href="/yalies_tools"><img src="/images/nav/yalies_tools.gif"></a></li>
        <li><a href="/webmaster_info"><img src="/images/nav/webmaster_info.gif"></a></li>
        <li><a href="/the_pantheon"><img src="/images/nav/the_pantheon.gif"></a></li>
    </ul>
</nav>
